
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Upload", "Roster", FormMethod.Post, new { enctype = "multipart/form-data", @class = "float-right" }))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="floatright">
                @Html.TextBox("file", "", new { type = "file" }) <br />

                <input type="submit" value="Upload" class="btn btn-info" /><br />

                @ViewBag.Message

            </div>
        </div>
    </div>
    <br />
    if (ViewBag.Employees != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>SHIFT</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Employees)
                {
                    <tr>
                        <td>@Html.ActionLink("Details", "Details", "Roster", new { EmployeeID = @item.EmployeeID}, new { @class = "text-info" })</td>
                        <td>@item.EmployeeID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.ShiftInfo.CurrentShift</td>
                        <td>@item.Email</td>
                        <td>@item.PhNo</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    if (ViewBag.ExcelEmployees != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>SHIFT</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ExcelEmployees)
                {
                    <tr>

                        <td>@item.EmpID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.ShiftName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

