@model EzMove.Contracts.EmployeeInfo

<div>
    <h4>EZMoveAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.LandMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.LandMark)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
