@using EzMove.Models
@using EzMove.Contracts
@{
    ViewBag.Title = "Home Page";
}
@model List<ShiftDashboardInfo>
<div ui-view autoscroll="false">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","Roster",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa  fa-calendar-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <p class="text-center">Roster</p>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","AdHoc",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa fa-road fa-stack-1x fa-inverse"></i>

                        </span>
                    </a>
                    <p class="text-center">Adhocs</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","Shifts",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa fa-calendar fa-stack-1x fa-inverse"></i>

                        </span>
                    </a>
                    <p class="text-center">Shifts</p>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","Vehicles",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa fa-taxi fa-stack-1x fa-inverse"></i>

                        </span>
                        <p class="text-center">Vehicles</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","Trips",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa fa-road fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <p class="text-center">Trips</p>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="@Url.Action("Index","Drivers",null)">
                        <span class="fa-stack fa-5x fa-lg">
                            <i class="icon fa fa-circle fa-5x fa-stack-2x"></i>
                            <i class="icon fa fa-users fa-stack-1x fa-inverse"></i>

                        </span>
                    </a>
                    <p class="text-center">Drivers</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="margin-left:-70px">
            @foreach (ShiftDashboardInfo shiftinfo in Model)
            {
                <div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge" style="@(shiftinfo.PickUpTrip.Status == "INPROGRESS" ? "background-color:green" : "background-color:orange")">@shiftinfo.ShiftName</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span>PickUp Trip Info: </span><span class="timeline-title"> @shiftinfo.PickUpTrip.Status</span><small class="text-muted floatright"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Time: @shiftinfo.PickUpTrip.ShiftPickStartTime</small>
                                    <p><span>Vehicles :</span><span class="timeline-title"> @shiftinfo.PickUpTrip.NoOfVechiles</span>&nbsp;&nbsp;&nbsp;&nbsp;Boarded: @shiftinfo.PickUpTrip.NoOfEmployeesBoarded</p>
                                    <p> Yet to Board: @shiftinfo.PickUpTrip.NoOfEmployeesYetToBoard&nbsp;&nbsp;&nbsp;&nbsp;No Shows: @shiftinfo.PickUpTrip.NoOfEmployeesNoShow</p>
                                    <p></p>
                                </div>
                                <div class="timeline-heading">
                                    <span>Return Trip Info: </span><span class="timeline-title"> @shiftinfo.ReturnTrip.Status</span><small class="text-muted floatright"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Time: @shiftinfo.ReturnTrip.ShiftPickStartTime</small>
                                    <p><span>Vehicles :</span><span class="timeline-title"> @shiftinfo.ReturnTrip.NoOfVechiles</span>&nbsp;&nbsp;&nbsp;&nbsp;Boarded: @shiftinfo.ReturnTrip.NoOfEmployeesBoarded</p>
                                    <p> Yet to Board: @shiftinfo.ReturnTrip.NoOfEmployeesYetToBoard&nbsp;&nbsp;&nbsp;&nbsp;No Shows: @shiftinfo.ReturnTrip.NoOfEmployeesNoShow</p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }

            @*<div class="rectangle">
                        <img class="circle" src="~/images/gb.svg" />
                    </div>
                    <div class="rectangle">
                        <img class="circle" src="~/images/us.svg" />
                    </div>
                    <div class="rectangle">
                        <img class="circle" src="~/images/in.svg" />
                    </div>
                    <div class="rectangle">
                        <img class="circle" src="~/images/au.svg" />
                    </div>
                </div>*@
        </div>
    </div>
</div>
